# Node.js
node_modules/
npm-debug.log*

# Logs
logs
*.log

# Dependency directories
pids
logs
results

# dotenv environment variables file
.env

# Output of 'npm pack'
*.tgz

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Jest coverage
coverage/

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components/

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release
